body{
  background: #000 !important;
  color: #fff !important;
}
.bg-theme{
  background: #131313 !important;
  color: #fff;
}
p,li{
  color: #A5A5A5 ;
  font-size: 15px;
}
img {
  width: 100%;
}
.section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
.default-padding{
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Navbar css */
.navbar{
  height: 70px;
}
li.nav-item{
  padding-right: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: #fff;
}
.logo{
  width: 200px;
}
/* HeroSection.css */
.hero-img-container {
  position: relative;
  height: 85vh;
}

.hero-overlay {
  position: absolute;
  bottom: -40px;
  left: 0;
  background: #111;
  padding: 20px;
  border-radius: 12px;
  color: white;
  width: 90%;
}
.text-yellow{
  color: #ffc107 !important;
}
.btn-cust{
  background: linear-gradient(90deg, #ffc107, #ff9800);
  border: none;
  font-weight: 600 !important;
  border-radius: 18px !important;
}
.banner-heading{
  font-size: 3rem;
      font-weight: 700 ;
      text-transform: uppercase;
}
.hero-section-img{
      height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.hero-section-img-text{
  position: absolute;
  transform: translateX(-50%) !important;
  bottom: 10px;
  border-radius: 12px;
  background: #212121;
  color: #fff;
  left: 50%;
  width: 80%;
}
/* pageheader css */
.pageheader-container{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .pageheader-container p{
    margin-bottom: 0;
    font-size: 14px;
  }
.client-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: .5rem !important;
}
/* Services css */
.card, .cust-card{
  background-color: #131313 !important;
  color: #fff !important;
  border: 1px solid #212121 !important;
  border-radius: 12px !important;
}
.cust-card .icon{
  display: flex;
  align-items: center;
}
.cust-card .icon h4, .cust-card .icon h6{
  padding-left: 15px;
}

/* Footer css */
.cust-border{
  border: 1px solid #212121 !important;
}
.footer-list{
list-style: none;
padding-left: 0;
}
.footer-list li a{
  color: #A5A5A5;
  text-decoration: none;
  font-size: 15px;
}
.footer-list:hover{
  color: #ffc107;
}
.footer-logo{
  width: 250px;
}
.accordion-item:first-of-type>.accordion-header .accordion-button, .accordion-button:not(.collapsed){
  background-color: #ffc107 !important;
}
.accordion-button:focus{
  box-shadow: none !important;
}
.accordion-button, .accordion-item{
  margin-bottom: 10px;
      border-radius: 0.375rem;
      border: none !important;
      border-bottom-left-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
}

.contact-container{
    background-color: #131313 !important;
    border: 1px solid #212121 !important;
    border-radius: 12px;
    padding-top: 30px;
    padding-bottom: 30px;

}